/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2021, 7:26:18 AM
    Author     : Denisa
*/

.login-container {
    background: url("${pageContext.request.contextPath}/carousel/2522-login.jpg");
    width: 100%;
    background-size: cover;
    height: 900px;
}
.custom-radio {
    width: 160px;
    float: left;
    }
.custom-control-input:disabled~.custom-control-label {
    color: #ffffff;
}
.form-signin button {
    background-color: hsl(282, 24%, 33%)
}
.form-signin {
    width: 700px;
    margin: 0 auto;
    padding-top: 10px;
    z-index: 999;
    background-color: hsla(282, 24%, 33%, 0.7); 
    padding: 20px 10px 15px 10px;

}
.form-control {
    border :1px solid #880027;
}
.form-signin input, 
.custom-control {
    margin-bottom: 12px;
}
.form-signin h1 {
    text-align: center;
}